# Node modules
node_modules/

# Build output
dist/
build/

# TypeScript cache
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.local
.env.*.local

# Jest coverage and test output
coverage/
.nyc_output/
jest-html-reporters-*

# Prisma
prisma/dev.db
prisma/dev.db-journal
src/generated/


# ESLint / Stylelint
.eslintcache
.stylelintcache

# Cache directories
.cache/
.parcel-cache/
.rpt2_cache/
.rts2_cache_*/

# VSCode
.vscode/

# Mac / Windows system files
.DS_Store
Thumbs.db

# Optional npm/yarn/pnpm files
.npm/
.yarn-integrity
.pnp.*
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# Output of 'npm pack'
*.tgz

# REPL history
.node_repl_history

# Docker
docker-compose.override.yml
.docker/

#SQLite
*.sqlite
*.sqlite-journal
